@model WebTIGA.Models.ContenedorModelos

@{
    ViewBag.Title = "AdministrarScript";
    Layout = "~/Views/Shared/_Layout_Auditoria_Continua.cshtml";

}


<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>DataTables example - HTML5 export buttons</title>
    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=19472395a2969da78c8a4c707e72123a">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstr apcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script type="text/javascript" src="/media/js/site.js?_=5e8f232afab336abc1a1b65046a73460"></script>
    <script type="text/javascript" src="/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Fhtml5%2Fsimple.html" async=""></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                ]
            });
        });
    </script>

    <script type="text/css">
        .linkdisabled{
        cursor:text;
        }
    </script>

</head>
<body>
    <div class="row">

        <div class="col-lg-12">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header"><strong>ADMINISTRADOR DE SCRIPTS</strong></div>


            </div>


        </div>


    </div>

   

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-dark">Dashboard Scripts</h6>

            </div>

            <div class="col-sm-12">

                <div class="card-body">
                    <div class="col-sm-12 text-center" >

                        <iframe width="1300" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYWI0NTNiNzMtN2U2Ny00OTAzLTg4ZGQtODhiMTI5Yzk2MTNjIiwidCI6IjY2ZGMxZjc3LTJlMGQtNGQxMy1iOTYxLTdjMmU2M2FhMzc2YiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                      
                    </div>
                </div>


            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">SCRIPTS</h6>
            </div>
            <div class="card-body">

                <div class="col-lg-4">


                    @Html.ActionLink("Agregar", "RegistrarScript", new { }, new { @class = "btn btn-success " })


                </div>

                <div class="card-body">
                    <div class="table-responsive">



                        @if (ViewBag.mensaje != null)
                        {

                            <div class="alert alert-success fade show" role="alert">
                                <strong>Mensaje: </strong> @ViewBag.mensaje
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        }
                        else if (ViewBag.delete != null)
                        {
                            <div class="alert alert-warning fade show" role="alert">
                                <strong>Mensaje: </strong> @ViewBag.delete
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        }
                        else if (ViewBag.create != null)
                        {
                            <div class="alert alert-success fade show" role="alert">
                                <strong>Mensaje: </strong> @ViewBag.create
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        }

                        <table class="table table-hover" id="example" width="100%">


                            <thead class="table-dark">
                                <tr>
                                    <th hidden>ID</th>
                                    <th>Codigo Script</th>
                                    <th>Año</th>
                                    <th>Nombre Script</th>
                                    <th>Descripción de Script</th>
                                    <th>Gestor</th>
                                    <th>Gerente Adjunto</th>
                                    <th>Auditor</th>
                                    <th>Estado</th>
                                    <th>Monitoreo</th>
                                    <th></th>
                                </tr>
                            <thead>
                            <tbody >
                                @if (Model.VIEW_LISTA_SCRIPTS.Count() > 0)
                                {
                                    foreach (var item in Model.VIEW_LISTA_SCRIPTS)
                                    {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Código_Script)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Año)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre_Script)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripción_de_Script)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gestor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gerente_Adjunto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Auditor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Monitoreo)
                                    </td>

                                    <td>

                                        @if (item.graficaPowerBI != null)

                                        {
                                     
                                            @Html.ActionLink("Grafica", "ScriptDetail", new { id = item.ID }, new { @class = "badge badge-info" })
                                        }
                                        else
                                        {
                                           
                                           @Html.ActionLink("Grafica", "ScriptDetail", new { id = item.ID }, new { @class = "badge badge-secondary" , onclick = "javascript:return false;" })
                                        }

                                        @*@Html.ActionLink("Grafica", "Reporte1_Script", new { id = item.idScript }, new { @class = "badge badge-primary" })*@
                                        @Html.ActionLink("Editar", "EditarRegistro", new { id = item.ID }, new { @class = "badge badge-primary" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "badge badge-danger" })

                                    </td>

                                </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" style="text-align: center;">&nbsp;No hay Registros...</td>
                                    </tr>
                                }

                            <tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var dataJson;
        $.ajax({
            url: '@Url.Action("JsonGRAFScripts_por_Estado")', // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false, //avoid caching results
            data: {}, // here you can pass arguments to your request if you need
            success: function (dataJson) {
                var arrOutside = new Array();
                var heading = ["Estado", "Total Scripts"];
                arrOutside[0] = heading;
                if (dataJson.length > 0) {
                for (var i = 0; i < dataJson.length; i++) {
                    var arr = [dataJson[i].nombre, dataJson[i].total];
                    arrOutside[i + 1] = arr;
                }
                    var gdata = new google.visualization.arrayToDataTable(arrOutside);

                    var options = {
                        title: '2020',
                        //legend: 'right',
                        width: '100%', height: '340',
                        chartArea: { rigth: 4,  width: '100%', height: '250', },
                        //pieHole: 0.10,
                        //colors: ['#0174DF','#e74a3b'],
                         is3D: true,

                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                    chart.draw(gdata, options);
                $(window).resize(function () {
                    drawChart();
                });
                }
            },
            error: function (xhr) {
                //alert('error' + xhr[0]);
            }
        });
    };
</script>
