@model WebTIGA.Models.ContenedorModelos
@{
    ViewBag.Title = "EditarRegistro";
    Layout = "~/Views/Shared/_Layout_Auditoria_Continua.cshtml";
}


<html>
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstr apcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
<body>

    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header" >
                <h6 class="m-0 font-weight-bold text-dark">EDITAR SCRIPT</h6>
            </div>
            <div class="card-body card-block border-bottom-light">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row">
                      
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-sm-6">
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Id Script: </label>
                                <div class="col-md-8">
                                    @Html.TextBox("idScript", null, new { style = "text-transform:uppercase", @class = "form-control", value = "idScript" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })


                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Código Script: </label>
                                <div class="col-md-8">
                                    @Html.TextBox("Código_Script", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Código_Script" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })


                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Año: </label>
                                <div class="col-md-8">
                                    @Html.TextBox("Año", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Año" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })


                                </div>
                            </div>


                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Negocio: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Negocio", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Negocio" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Nombre Script: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Nombre_Script", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Nombre_Script" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Script Abreviado: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Script_Abreviado", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Script_Abreviado" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Descripción de Script: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Descripción_de_Script", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Descripción_de_Script" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Fuente: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Fuente", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Fuente" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Tipologia de Script: </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("idTipScript", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Gestor Responsable: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Gestor_Responsable", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Gestor_Responsable" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Ruta: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Ruta", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Ruta" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;"> Gerente Adjunto: </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("idGerenteAdjunto", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Auditor: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("idAuditor", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Area Auditada: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("idAreaAuditada", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Contacto: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("idContactoAuditado", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Fase 1: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("Fase_1", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Fase 2: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("Fase_2", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Fase 3: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("Fase_3", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Fase 4: </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("Fase_4", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Ejecución de Script: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Ejecución_de_Script", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Ruta" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row  px-lg-5">
                                <label for="staticUsuario" class="col-md-3 col-form-label" style="color:black;font-weight:bold;">Meses de Análisis: </label>
                                <div class="col-md-8">

                                    @Html.TextBox("Cantidad_de_Meses_de_análisis", null, new { style = "text-transform:uppercase", @class = "form-control", value = "Ruta" })
                                    @Html.ValidationMessageFor(model => model.DAC_ScriptsContinua, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger fade show" role="alert">
                                    <strong>ERROR : </strong> @ViewBag.Message
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                            }

                        </div>



                    </div>
                    <br>

                    <div class="form-group text-center">
                        <input type="submit" value="Guardar" class="btn btn-info btn-group-toggle" style="background-color :lightseagreen" />
                        <a href="@Url.Action("AdministrarScript","WebAuditoriaContinua")" class="btn btn-secondary" id="btnReturn">Retornar</a>

                    </div>
                }

            </div>
        </div>
    </div>

</body>

</html>

